@model ShopNongSan.Data.Collection.News

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Kiểm tra lại thông tin trước khi xóa?</h3>
<div>
    <h4>Tin tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Ảnh mô tả
        </dt>
        <dd>
            <img src="data:image/png;base64,@Model.Thumbnail" width="50" height= "50">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.Raw(@Model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
